body {
    margin: 0;
    font-family: "Inter";
  }
  .nav {
    background-color: rgb(39, 38, 43);
    display: flex;
    justify-content: center;
    color: white;
    height: 100px;
  }
  .container {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
  }
  .nav h1 {
    margin: 0;
  }
  .nav-links {
    display: flex;
    list-style: none;
    gap: 60px;
  }
  .nav-links li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main {
    background-image: url("../images/image1.jpg");
    display: flex;
    background-size: cover;
    justify-content: center;
    height: 800px;
    background-repeat: no-repeat;
  }
  .main-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    flex-direction: column;
  }
  .main-container h2 {
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    width: 50%;
  }
  .main-container button {
    width:38%;
    background-color: teal;
    color: white;
    text-align: center;
    padding: 9px 15px;
    font-size: 24px;
    border-radius: 24px;
  }
  section{
    padding-bottom: 50px;
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: auto;
    gap: 25px;
    background-color: white;  
  }
  article{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    background-color: white;
       }
  article img{
    width: 250;
    height: 600;
    justify-content: center;
    align-items: center;
    fill: teal;
    color: teal;
    margin: auto;
    
  }
  article h3{
    margin: auto;
  }
  article p{
    margin: auto;
    color: gray;
    text-align: center;
  }
